body {
    margin: 0;
    padding: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Raleway", sans-serif;
}

.main-div {
    background-color: black;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-text {
    font-size: 2.3rem;
    margin: 25px 0px;
    color:white;
}

.search-input {
    height: 35px;
    width: 350px;
    border-radius: 30px;
    border-style: none;
    outline: none;
    background-color: #2C3333;
    color: white;
    text-align: center;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 120px;
}

.weather-form {
    font-size: 1rem;
    font-weight: 500;
    color:white;
}

.weather-temp{
    font-size: 3.7rem;
    margin: 0px;
    color:white;
}

.weather-info{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    margin-top: 30px;
    background-color: black;
}

.weather-info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
}

.weather-info-name{
    margin-bottom: 2px;
    color:grey;
}

.weather-info-number{
    margin-top: 2px;
    color:white;
}



